<div class="container-fluid bg">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-sx-12"></div>
      <div class="col-md-4 col-sm-4 col-sx-12 dg">
       <form #User="ngForm">
 
 
         <h1> Login</h1>
           <div class="form-group">
             <label for="email">Email</label>
             <input type="text" [(ngModel)] ="loginUserDetails.email" id="email" class="form-control"  placeholder="email id" name="email" required>
           </div>
           <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" [(ngModel)] ="loginUserDetails.password" class="form-control" id="pwd" placeholder="password" name="password" required>
          </div>
          <button type="submit" [disabled]="User.form.invalid"(click)="loginUser()" class="btn btn-success btn-block">Login</button>
         
       </form>
 
      </div>
      <div class="col-md-4 col-sm-4 col-sx-12"></div>
   </div>
